.login-wrapper {
	background-image: url(../../assets/img/bg-registro-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
	// height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3rem 0;
	
	@include from(l) {
		background-image: url(../../assets/img/bg-registro-desktop.jpg);
	}

	&__container {
		max-width: 1280px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		justify-content: center;
		// align-items: center;
		
		@include from(l) {
			justify-content: unset;
		}
	} 

	&__content-form {
		background-color: var(--color-background);
		padding: 0.5rem;
		border: 1px solid var(--color-first);
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 500px;
		
		@include from(l) {
			padding: 2rem;
			max-width: 60%;
			justify-content: center;
		}

	}

	&__content-form--h3 {
		text-transform: uppercase;
		color: var(--color-first);
		text-align: center;
	}
	
	&__form {
		display: flex;
		flex-direction: column;
		font-weight: 700;
		max-width: 300px;
	}

	&__form--conatiner {
		margin-bottom: 1rem;
	}

	&__form--label {
		color: var(--color-first);
		text-transform: uppercase;
		width: 100%;
	}
	&__form--input {
		border: 1px solid var(--color-first);
		background-color: #F3F3F3;
		width: 100%;
		height: 42px;
		border-radius: 4.29px;
		margin-bottom: 18px;
		padding: 0 1rem;
		color: var(--color-first);
	}

	&__links {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1rem;
	}
	
	&__links--a {
		color: var(--color-first);
		text-transform: capitalize;
		text-decoration: underline;
		
		@include from(l) {
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
		
	}

	&__links--item {
		width: 100%;
	}

	&__img {
		display: none;

		img {
			object-fit: cover;
			height: 100%;
		}

		@include from(l) {
			display: block;
			width: 40%;
		}
	}
}


.registro {
	max-width: 100%;
	font-weight: 500;
	
	label {
		text-transform: capitalize;
	}

	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	&__button--btn {
		width: 40%;
	}

	&__check {
		color: var(--color-first);
		margin-bottom: 1rem;
		font-size: 12px;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 0 1rem;
		
		@include from(l) {
			font-size: 14px;
			padding: 0;
		}
	}

	// Estilo para checkbox personalizado

	// &__check--input {
	// 	appearance: none;
	// 	border: 1px solid var(--color-first);
	// 	border-radius: 0.2rem;
	// 	width: 24px;
	// 	height: 15px;
		
	// 	@include from(l) {
	// 		width: 16px;
	// 		height: 16px;

	// 	}
	// }
}
