<div class="ed-grid m-grid-2 lg-grid-4 row-gap main-footer__content">
	<ul class="main-footer__ul data-list">
		<li class="main-footer__li">
			<a class="foot-icon" href="terminos-y-condiciones.html">Términos y condiciones</a>
		</li>
		<li class="main-footer__li">
			<a class="foot-icon" href="politica-de-privacidad.html">Política de privacidad</a>
		</li>
	</ul>
	<ul class="main-footer__ul data-list">
		<li class="main-footer__li">
			<a class="foot-icon" href="banking.html">Programa de afiliados</a>
		</li>
		<li class="main-footer__li">
			<a class="foot-icon" href="reglas-de-casino.html">Reglas de casino</a>
		</li>
	</ul>
	<ul class="main-footer__ul data-list">
		<li class="main-footer__li">
			<a class="foot-icon" href="reglas-de-la-casa.html">reglas de la casa</a>
		</li>
		<li class="main-footer__li">
			<a class="foot-icon" href="rules.html">reglas de deportes</a>
		</li>
	</ul>
	<ul class="main-footer__ul data-list">
		<li class="main-footer__li">
			<a class="foot-icon" href="juego-responsable.html">Juego Responsable</a>
		</li>
		<li>
			<div class="main-footer__connect--container">
				<ul class="main-footer__connect--list"> 
					<li class="main-footer__connect--li"> 
						<a href="#" target="_blank">
							<img src="assets/img/facebook.svg" alt="facebook">
						</a>
					</li>
					<li class="main-footer__connect--li"> 
						<a href="#" target="_blank">
							<img src="assets/img/twitter.svg" alt="twiter">
						</a>
					</li>
					<li class="main-footer__connect--li"> 
						<a href="#" target="_blank">
							<img src="assets/img/inst.svg" alt="instagram">
						</a>
					</li>
					<li class="main-footer__connect--li"> 
						<a href="#" target="_blank">
							<img src="assets/img/18+.svg" alt="mayor de 18 años">
						</a>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>
</div>

