<div class="rules-house">
	<h1 class="rules-house__h1">reglas de la casa</h1>
	<div class="rules-house__background">
		<div class="rules-house__container">
			<ul class="rules-house__container--ul">
				<li class="rules-house__container--li">
					<span>1</span>
					Todas las reglas, regulaciones y pagos aquí contenidos están sujetos a cambios y revisiones por parte de RapiiApuesta sin previo aviso por escrito.
				</li>
				<li class="rules-house__container--li">
					<span>2</span>
					Cualquier regla de deportes o caballos que no esté específicamente indicada en las reglas o regulaciones de la casa, será decidida por las reglas oficiales de Las Vegas.
				</li>
				<li class="rules-house__container--li">
					<span>3</span>
					Caribebets no será responsable de ningún daño o pérdida alegado como resultado o causado por este sitio web o su contenido, incluido cualquier error del usuario en el contenido, la incapacidad de cualquier persona para iniciar sesión o utilizar el sitio. Web, retraso en las operaciones o conexión, falla de las líneas de comunicación o cualquier error u omisión de contenido.
				</li>
				<li class="rules-house__container--li">
					<span>4</span>
					Todos los clientes deben tener la edad mínima legal de consumo de bebidas alcohólicas en su país, estado o jurisdicción en particular.
				</li>
				<li class="rules-house__container--li">
					<span>5</span>
					Todas las reglas, regulaciones y probabilidades de apuestas se actualizarán constantemente en nuestro sitio web, por lo que le pedimos que revise las reglas antes de realizar cualquier demanda a nuestro personal de servicio al cliente.
				</li>
				<li class="rules-house__container--li">
					<span>6</span>
					Caribets se reserva el derecho de limitar o rechazar cualquier apuesta por cualquier motivo y tiene el derecho de rechazar las apuestas de clientes que no sean de estados o que estén fuera de la jurisdicción donde los juegos de azar en línea son ilegales.
				</li>
				<li class="rules-house__container--li">
					<span>7</span>
					Todas las apuestas aceptadas por Sitiocasino serán válidas, a menos que exista prueba de que hubo algún tipo de trampa, intentos de pirateo o trampas intencionales.
				</li>
				<li class="rules-house__container--li">
					<span>8</span>
					Las cantidades mínimas y máximas tomadas en las apuestas en todos los eventos deportivos serán determinadas por RapiiApuesta y están sujetas a cambios sin previo aviso por escrito. Sitiocasino también se reserva el derecho de ajustar o cambiar límites en cuentas individuales.
				</li>
				<li class="rules-house__container--li">
					<span>9</span>
					Caribebets no aceptará ninguna apuesta sin tener el número apropiado o contraseña de su cuenta a través del teléfono o Internet.
				</li>
				<li class="rules-house__container--li">
					<span>10</span>
					Cada cliente es responsable de mantener en secreto su número de cuenta y debe hacer el esfuerzo para evitar el uso de su cuenta personal por parte de terceros.Cualquier transacción realizada en la cuenta donde se ha proporcionado el número y la contraseña correctos seguirá siendo válida en nuestros archivos y será dependen únicamente del saldo actual de la cuenta.
				</li>
				<li class="rules-house__container--li">
					<span>11</span>
					Cada cliente es responsable de mantener en secreto su número de cuenta y debe hacer el esfuerzo para evitar el uso de su cuenta personal por parte de terceros.Cualquier transacción realizada en la cuenta donde se ha proporcionado el número y la contraseña correctos seguirá siendo válida en nuestros archivos y será dependen únicamente del saldo actual de la cuenta.
				</li>
				
			</ul>
		</div>
		<div class="rules-house__sign-up">
			<a class="btn btn__primary caballos-layout__sign-up--href" href="registro.html">Registrate ahora</a>
		</div>
	</div>
</div>
