<div class="login-wrapper">
	<div class="login-wrapper__container">
		<div class="login-wrapper__content-form">
			<h3 class="login-wrapper__content-form--h3">ingreso</h3>
			<form class="login-wrapper__form" method="post" action="">
				<label class="login-wrapper__form--label" for="user">Usuario:
					<input class="login-wrapper__form--input" type="text" id="user" name="account" id="account" required>
				</label>
				<label class="login-wrapper__form--label" for="password">Contraseña:
					<input class="login-wrapper__form--input" type="password" id="password" name="password" required>
				</label>
				<div class="login-wrapper__links">
					<a class="login-wrapper__links--a" href="">olvidó su contraseña</a>
					<button class="login-wrapper__links--item btn btn__gray" type="submit">Iniciar sesión</button>
					<button class="login-wrapper__links--item btn btn__primary" type="submit">registro</button>
				</div> 
			</form>
		</div>
		<div class="login-wrapper__img">
			<img src="assets/img/img-registro.jpg" alt="">
		</div>
	</div>
</div>

