<div class="terms">
	<h1 class="terms__h1">condiciones generales</h1>
	<div class="terms__background">
		<div class="terms__container">
			<ul class="terms__container--ul">
				<li class="terms__container--li">
					Debes tener al menos 21 años.
				</li>
				<li class="terms__container--li">
					Usted acepta que desea participar en apuestas por Internet y no lo encuentra objetable u ofensivo.
				</li>
				<li class="terms__container--li">
					Usted y su computadora están ubicados en un área donde las apuestas por Internet no son ilegales
					según las normas locales,
					leyes estatales, provinciales o federales
				</li>
				<li class="terms__container--li">
					El derecho internacional es muy complejo y no conocemos las leyes específicas que pueden aplicarse
					en donde usted viva. Operamos bajo estricto cumplimiento de todas las leyes locales y le instamos a
					que acceda a nuestro sitio solo si estás en conformidad con ello.
				</li>
				<li class="terms__container--li">
					Usted es el único responsable de mantener su contraseña y número de identificación en secreto y
					confidencial, y cualquier uso no autorizado será de su responsabilidad.
				</li>
				<li class="terms__container--li">
					Usted acepta no permitir que ningún menor vea o participe en ningún aspecto de este sitio o red de
					operaciones.
				</li>
				<li class="terms__container--li">
					Aceptas toda la responsabilidad por tus propias acciones.
				</li>
				<li class="terms__container--li">
					Usted acepta que todas las instrucciones y respuestas enviadas a través de Internet desde y hacia
					RapiiApuesta Casino & Sportsbook en relación con el uso de RapiiApuesta Casino & Sportsbook serán
					vinculantes.
				</li>
				<li class="terms__container--li">
					Cada vez que realiza una apuesta, confirma y acepta la forma en que funciona el software
					RapiiApuesta Casino & Sportsbook..
				</li>
				<li class="terms__container--li">
					RapiiApuesta Casino & Sportsbook se reserva el derecho de rechazar o limitar cualquier apuesta y no
					poder apostar más de
					lo que hay en su cuenta.
				</li>
				<li class="terms__container--li">
					Usted acepta que el software RapiiApuesta Casino & Sportsbook es propiedad de RapiiApuesta Casino &
					Sportsbook y no modificará ni intentará descifrar, descompilar, desmontar o realizar ingeniería
					inversa
					software, o crear trabajos derivados basados ​​en él.
				</li>
				<li class="terms__container--li">
					RapiiApuesta Casino & Sportsbook se reserva el derecho de retener el pago de las ganancias en caso
					de evidencia o
					se dan a conocer las sospechas de cualquier manipulación del software de RapiiApuesta Casino &
					Sportsbook.
				</li>
				<li class="terms__container--li">
					RapiiApuesta Casino & Sportsbook se reserva el derecho de retener el pago de la ganancia en caso de
					evidencia de poseer múltiples cuentas. Permitimos 1 cuenta por persona, hogar o dirección IP a menos
					que por lo contrario sea específicamente permitido por RapiiApuesta Casino & Sportsbook.
				</li>
				<li class="terms__container--li">
					Debe tener los fondos necesarios en su cuenta de RapiiApuesta Casino & Sportsbook para satisfacer
					cualquier retiro que solicita de su cuenta. Si a su cuenta se le acreditan fondos que no son
					recibidos por RapiiApuesta Casino & Sportsbook, la compañía se reserva el derecho y retendrá todas
					las ganancias que haya ganado desde el momento en que dichos fondos fueron acreditados en su cuenta.
				</li>
				<li class="terms__container--li">
					RapiiApuesta Casino & Sportsbook se reserva el derecho de cancelar cualquier apuesta realizada en
					algún juego a través de Internet 15 minutos después de que se hayan iniciado debido a un error o
					manipulación del software.
				</li>
				<li class="terms__container--li">
					Es posible que se requiera documentación y prueba de identificación en cualquier momento para los
					pagos a solicitud de la administración.
				</li>
				<li class="terms__container--li">
					Para ser elegible para CUALQUIER bono, se espera que los jugadores vuelvan a depositar los fondos
					retirados previamente, también conocido como la figura de compensación. El otorgamiento de
					excepciones a esta regla es competencia exclusiva de la administración.
				</li>
			</ul>
		</div>
	</div>

	<div class="terms__container terms__container--conditions">
		<h2>Términos y condiciones de las bonificaciones:</h2>
		<ul class="terms__container-ul">
			<li class="terms__container--li">
				Cualquier depósito con tarjeta de crédito puede recibir un bono máximo del 10%.
			</li>
			<li class="terms__container--li">
				Las cuentas anónimas SOLO pueden depositar / retirar a través de criptomonedas y solicitar un bono
				de juego gratis del 25% como máximo.
			</li>
			<li class="terms__container--li">
				Todos los planes de bonificación se aplican ÚNICAMENTE para deportes y casinos en línea.
			</li>
			<li class="terms__container--li">
				Cualquier jugador que no reciba un bono debe reinvertir su depósito más las tarifas al menos una vez
				antes de que se pueda realizar un pago.
			</li>
			<li class="terms__container--li">
				Los requisitos varían según los bonos y el jugador es responsable de consultar las restricciones que
				vienen con el bono que está aceptando.
			</li>
			<li class="terms__container--li">
				Las bonificaciones son para jugadores estadounidenses, las bonificaciones para otros jugadores
				quedan a discreción de la dirección.
			</li>
			<li class="terms__container--li">
				Para el bono de Juego Gratis del 100%, el monto máximo de la apuesta es de $ 500.
			</li>
			<li class="terms__container--li">
				Para el bono de Juego Gratis del 150%, el monto máximo de la apuesta es de $ 250.
			</li>
			<li class="terms__container--li">
				Free Play: te permite realizar jugadas gratis sin ningún riesgo. Siempre que gane una apuesta Free
				Play, las ganancias se convertirán en efectivo y estarán disponibles en su cuenta deportiva.
				Recuerde que SÓLO puede realizar apuestas directas en los cuatro deportes principales (NFL, NBA,
				MLB, NHL) con su bono de juego libre.
			</li>
			<li class="terms__container--li">
				Si es un cliente nuevo y recibe un giro de casino complementario, tendrá un retiro máximo de $ 50.
				Si decide financiar su cuenta con un depósito, se elimina el retiro máximo de efectivo.
			</li>
			<li class="terms__container--li">
				Rollover: El requisito de rollover incluye la suma del depósito y los bonos otorgados, multiplicados
				por el número de reinversión para ese plan de bonificación en particular. Ejemplo: depósito de $ 300
				con un bono del 10%. (Depósito de $ 300 + 10% de bonificación de $ 30 = $ 330 X 4 = $ 1320 en
				apuestas necesarias).
			</li>
			<li class="terms__container--li">
				Los caballos, el casino en vivo, las restricciones de los juegos de casino y las apuestas en vivo no
				contarán para la lista.
			</li>
			<li class="terms__container--li">
				El rollover se calcula utilizando el valor menor entre el riesgo o la ganancia para todas las
				apuestas.
			</li>
			<li class="terms__container--li">
				Para calcular correctamente el rollover de cualquier bono de casino, utilice la siguiente tabla de
				distribución de acciones:
			</li>
		</ul>
	</div>

	<div class="terms__container">
		<table class="terms__table main-table">
			<colgroup>
				<col class="terms__table-col">
				<col class="terms__table-col">
			</colgroup>
			<thead class="terms__table--thead">
				<tr class="terms__table--tr">
					<th scope="col" class="terms__table--th-bold">Contribución</th>
					<th scope="col" class="terms__table--th-bold">contribución de apuestas</th>
				</tr>
			</thead>
			<tbody class="terms__table--body">
				<tr class="terms__table--tr">
					<td class="terms__table--td-bold">100%</td>
					<td class="terms__table--td">Scratcherz, Predictor, Tragamonedas y
						Tragamonedas 3D (excluidos los juegos de jackpot progresivo)
					</td>
				</tr>
				<tr class="terms__table--tr">
					<td class="terms__table--td-bold">20%</td>
					<td class="terms__table--td">
						Ruleta (todas las versiones), Draw High-Lo, 3 Card Rummy, Virtual Racebook
					</td>
				</tr>
				<tr class="terms__table--tr">
					<td class="terms__table--td-bold">10%</td>
					<td class="terms__table--td">
						Baccarat, Blackjack (American & European), Poker 3, Oasis Poker, Single Deck Blackjack,
						Triple Edge
						Poker, Caribbean Poker, Three Card Poker, Video Poker (All Types)
					</td>
				</tr>
				<tr class="terms__table--tr">
					<td class="terms__table--td-bold">5%</td>
					<td class="terms__table--td">
						Pirate 21, Blackjack Super 7, Pai Gow, 21 Burn, Ride’m Poker, All forms of Keno, Red Dog,
						Pontoon,
						Top Card Trumps
					</td>
				</tr>
				<tr class="terms__table--tr">
					<td class="terms__table--td-bold">0%</td>
					<td class="terms__table--td">
						Craps, Todos los Jackpot Games pregresivos
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="terms__sign-up">
		<a class="btn btn__primary caballos-layout__sign-up--href" href="registro.html">Registrate ahora</a>
	</div>
</div>
